h1,
ul {

    text-align: center;

    color: white;

    list-style-type: none;

}

h1{

    background-color: green;

    font-size: 100px;
    
}

ul {

    background-color: rgb(240, 3, 3);

    color: white;

    font-size: 40px;
}

*{

    border-radius: 40px;

}